body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

body {
  min-height: 100%;
  /* background-image: url(grey.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#header-background {
  max-width: 500px;
  max-height: 500px;
  background-image: url(BingeProof.png);
}

.ac {
  min-height: 100%;
  background-image: url(AC.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.test {
  min-height: 100%;
  background-image: url(BingeProof.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #0077cc;
}

.pagination .active button {
  font-weight: bold;
}
